@import "../globals.scss";
.crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .contentContainer {
    // outline: 1px solid white;
    width: $desktopWidth;
    height: $desktopHeight;
    position: relative;
    // display: flex;
    // justify-content: center;
    .title {
      position: absolute;
      top: 212px;
      left: 166px;
      h2 {
        color: white;
        font-size: $heading5Size;
        font-weight: 100;
        letter-spacing: $heading5Spacing;
        text-transform: uppercase;
        font-family: $condensedFont;
        span {
          color: grey;
          font-weight: 600;
          margin-right: 21px;
        }
      }
    }

    .crewSelector {
      // outline: 1px solid cyan;
      position: absolute;
      top: 790px;
      left: 166px;
      display: flex;
      z-index: 3;

      .indicator {
        width: 17px;
        height: 17px;
        background-color: rgb(102, 102, 102);
        border-radius: 50%;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-right: 22px;

        &.active {
          background-color: lightgray;
        }
        &:hover {
          background-color: white;
          transform: scale(1.2);
        }
      }
    }

    .crewSlider {
      width: 100vw * 5;
      height: $desktopHeight;
      display: flex;
      z-index: 5;
      transition: all 1s ease;

      .crewSlide {
        // outline: 1px solid cyan;
        color: white;
        width: $desktopWidth;
        height: $desktopHeight;
        margin-right: calc(100vw - #{$desktopWidth});
        opacity: 0;
        transition: all 1s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          opacity: 1;
        }

        .imgContainer {
          outline: 1px solid green;
          position: relative;
          bottom: -102px;
          left: 562px;

          // TODO fine tune placement of each slide individually :(
        }
        .infoContainer {
          position: relative;
          outline: 1px solid green;
          left: -569px;
          top: 119px;
          width: 483px;
          height: 329px;
        }
      }
    }
  }
}
