@import "../globals.scss";

.navbar {
  // outline: 1px solid coral;

  // height: 95px;
  // width: 100vw;
  // margin-top: 40px;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;

  .container {
    // outline: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $desktopWidth;
    height: 95px;
    margin-top: 40px;

    .logo {
      flex: 1;
      margin-left: 55px;
      margin-top: 50px;
      height: 100%;
      width: auto;
    }

    .menuContainer {
      flex: 1.5;
      // background-color: lightgray;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // outline: 1px solid green;

      .menu {
        // outline: 1px solid blue;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 97%;
        margin-left: 124px;

        .menuItem {
          // margin-left: 50px;
          // background-color: red;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          // outline: 1px solid white;
          margin-top: 5px;
          margin-right: 51px;

          &:hover {
            .indicator {
              width: 100%;
              &.active {
                background-color: white;
              }
            }
          }

          .textContainer {
            // background-color: blue;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h6 {
              color: white;
              font-weight: 600;
              // display: block;
              font-family: $condensedFont;
              font-size: $navTextSize;
              letter-spacing: $navTextSpacing;
              text-transform: uppercase;

              span {
                font-weight: bold;
              }
            }
          }

          .indicator {
            background-color: white;
            transition: all 0.3s ease;

            width: 0%;
            height: 3px;

            &.active {
              background-color: grey;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
